.diferencial__imagem .fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.diferencial__imagem .fa-shield-alt{
  color: #2CC76A;
}

.diferencial__imagem .fa-rocket {
  color: #EF3F29;
}

.diferencial__imagem .fa-comments {
  color: #EF8F29;
}